body{
    margin: 0px;
    font-family: 'STIX Two Math', serif;
}

.short-overview-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.header{
    width: 100%;
    height: 320px;
    background-color: rgb(28, 28, 28);
}

.debut-date, .disband-date{
    letter-spacing: 2px;
}

.hero-section{
    background-image: url(../Image/gfriend-background.jpeg);
    height: 900px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.mini-title{
    width: 100%;
    height: 20px;
    background-color: rgb(28, 28, 28);
    color: white;
    display: flex;
    padding-top: 80px;
    justify-content: center;
    font-size: 2em;
    letter-spacing: 3px;
}

.albums-wrapper{
    height: 430px;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgb(28, 28, 28);
    color: white;
    letter-spacing: 2px;
}

.albums-list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;
    align-items: center;
    text-align: center;
}

.album{
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-rows: 0.8fr 0.8fr 1.5fr;
    border-radius: 2px;

}

.album:hover{
    color: rgb(224, 198, 110);
    box-shadow: 0px 0px 0px 4px rgb(224, 198, 110, 0.8);
    transition: 0.7s;
}

.album > .album-icon{
    font-size: 4em;
}

.album > .album-description{
    margin: 20px;
    line-height: 1.5em;
}

.album > .album-title{
    font-size: 1.3em;
    padding-bottom: 50px;
    padding-top: 50px;
}