body{
    margin: 0px;
    font-family: 'STIX Two Math', serif;
}
.members-wrapper{
    display: flex;
}

.sowon{
    display: flex;
    justify-content: space-between;
    /* height: 400px; */
    /* width: 100%; */
}

.sowon-image{
    background-image: url(../Image/background-image1.png);
    width: 100%;
    height: 400px;
}